<div class="home-container">
  <video autoplay muted loop id="homeVideo">
    <source src="./../../../assets/background2.mp4" type="video/mp4" />
  </video>
  <div class="slogan">
    <h1>Review42</h1>  
    <h2>
      Don't be a mushroom! 
      <br />
      Use our Peer Review System!
    </h2>
    <div class="button-cont">
      <a routerLink="/register" mat-raised-button class="sign-up-btn btn">Sign up</a>
      <a routerLink="/login" mat-stroked-button class="log-in-btn btn">Log in</a>
    </div>
  </div>
</div>
