.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.logo {
  font-weight: bold;
  margin-left: 8px;
  line-height: 40px;
}

.menu-container {
  margin-bottom: 0;
  align-items: center;
}